.nf-pop{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #141414;
    justify-content: center;
    height: 120vh;
}

.nf-og{
    font-size: 20px;
    margin-left: 10px;
}

.original-movie{
    display: flex;
    justify-content: space-around;
    background-color: #141414;
}

.original-movie img{
    width: 270px;
}

.original-movie img:hover{
    cursor: pointer;
    border: 0.2px solid whitesmoke;
}

.nf-og{
    font-size: 20px;
    margin-top: 40px;
}